<header class="header-container">
  <div>
    <button mat-button color="accent" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- Languange -->
  <div>
    <button
    mat-button
      [matMenuTriggerFor]="beforeMenu"
    >
      <img
        width="30"
        height="30"
        [src]="
          selectedLang === 'en'
            ? 'https://img.icons8.com/color/48/great-britain-circular.png'
            : 'https://img.icons8.com/color/48/indonesia-circular.png'
        "
        alt="language-icon"
      />
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button
        mat-menu-item
        style="display: flex; align-items: center; gap: 10px"
        (click)="onSwitchLang('en')"
      >
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/color/48/great-britain-circular.png"
          alt="great-britain-circular"
        />
        English
      </button>
      <button
        mat-menu-item
        style="display: flex; align-items: center; gap: 10px"
        (click)="onSwitchLang('id')"
      >
        <img
          width="30"
          height="30"
          src="https://img.icons8.com/color/48/indonesia-circular.png"
          alt="indonesia-circular"
        />
        Bahasa Indonesia
      </button>
    </mat-menu>

    <div
      *ngIf="isLoggedIn()"
      style="display: flex; align-items: center; gap: 10px"
    >
      <span>{{ authService.getUserEmail() }}</span>
      <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    </div>
    <div
      *ngIf="!isLoggedIn()"
      style="display: flex; align-items: center; gap: 10px"
    >
      <button mat-flat-button color="primary" (click)="login()">Login</button>
    </div>
  </div>
</header>
